<%= stylesheet_link_tag 'uncomfortable', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'playlist', 'data-turbolinks-track' => true %>
<div class="container playlist">
<h3 class="mood">Your mood is 'uncomfortable'<h3>
</div>
