$(document).ready(function(){
  fetchPlayList()

  $("#fetch").on("click", fetchPlayList)

})

function renderPlaylist(playlist){
  // var audio = new Audio();
  // audio.src = playlist.uri;
  $("#latest-playlists").append(
    "<div class='playlist' data-id='" +
    playlist.id +
    "'>" + playlist.name +
    " by " + playlist.artists[0].name +
    "</div><iframe src=\"https://embed.spotify.com/?uri=" +
    playlist.uri +
    "\" frameborder='0' allowtransparency='true'></iframe>"
  )
}

function fetchPlayList(){

  $.ajax({
    type:    "GET",
    url:     "https://api.spotify.com/v1/tracks/70IzgjmGvdFgHJORCRWFHv",
    headers: {"Authorization": "Bearer BQA4HsFckwgQRmx71tVTnpc3jRKif9zNhKgVTsfxTDvFRizi1FutA5fWrR66QyBp0NOwJcmS25RvUyR9_MlsD4SL0z36pELXyYJeTZIgenAZ6RR40Q2ANJkQqVxiAbLeyu5SMQQoX4s"},
    success: function(playlist) {
      renderPlaylist(playlist)
    }
  })
}

//may have to scale down scope due to spotify's api may need to just play random songs based on mood
